.billboard {
	width: 100vw ;
	height: 500px;
    background-image: url(https://udemy-images.udemy.com/notices/home_banner/image/cf443f3f-79d2-4699-b09f-8c713539e5d5.jpg);
  	background-position: top;
    background-size: cover;
    display: block;
	text-align: left;


}
.top {
	width: 40%;
	display: inline-block;
	color:white;
	padding-top: 200px;
	margin: auto;
}
.bottom {
	width: 100%;

}
.col{
	width:33%;

	display: inline-block;
	background-color: rgb(149,14,70);
	/*vertical-align: baseline;*/
}



input { 
	width: 400px;

}