.billboard {
	width: 100vw ;
	height: 500px;
    background-image: url(https://udemy-images.udemy.com/notices/home_banner/image/cf443f3f-79d2-4699-b09f-8c713539e5d5.jpg);
  	background-position: top;
    background-size: cover;
    display: block;
	text-align: left;


}
.top {
	width: 40%;
	display: inline-block;
	color:white;
	padding-top: 200px;
	margin: auto;
}
.bottom {
	width: 100%;
	display: flex;
	align-items:flex-end;
}
.col{
	margin: auto;
	width: 33.33%;
	background-color: rgb(149,14,70);
	vertical-align: top;
}
.bill-search{
	display: flex;
	align-items:flex-end;
}
.bill-search img {
	width: 30px;
	height: 30px;
	z-index: 99;
	padding-bottom: 5px;
	background-color: white;
}
.bill-searchbar{
	font-size: 1.0em;
	padding: 10px;
	border: 1px solid #ddd;
	color: #666;
}

