.billboard {
	width: 100vw ;
	height: 500px;
    background-image: url(https://udemy-images.udemy.com/notices/home_banner/image/cf443f3f-79d2-4699-b09f-8c713539e5d5.jpg);
  	background-position: top;
    background-size: cover;
    display: block;
	text-align: left;


}
.top {
	width: 35%;
	display: inline-block;
	color:white;
	padding-top: 200px;
	margin: 0 100px;

}
.bottom {
	width: 100%;

	margin-bottom: 50px;
	display: flex;
	align-items:flex-end;
	color: white;
}
.col{
	margin: auto;
	width: 33.33%;
	height: 80px;
	padding-bottom: 40px;
	background-color: rgb(149,14,70);
	vertical-align: top;
}
.bill-search{
   display: inline-block;
   margin: 0 0.1rem;
}

.bill-searchbar{
	font-size: 1.0em;
	padding: 10px 30px 10px 10px;
	border: 1px solid #ddd;
	color: #666;
	width: 18rem;
	position: relative;
}
.search-icon {
	margin-left: -1.5rem;
	margin-top: 0.9rem;
	z-index: 2;
	position: absolute;
	color: red;
}

