.course-row {
}

.course-row--title {
	text-align: left;
}

.course-row--list {
	display: flex;
	flex-direction: row;
}

.course-item {
	background-color: #bbb;
	margin: 8px;
	height: 290px;
	width: 216px;
}

.course-item--image > img {
	height: 122px;
	width: 216px;
}

h3.course-item--text__title {
	height: 42px; 
	width: 191px;
}

.course-item--price {
	position: relative;
	bottom: 0;
	right: 0; 
}