body {
	font-family: 'Open Sans', sans-serif;
  background-color: #F7F8FA;
}

.course-row--title {
	text-align: left;
	margin-left: 20px;
}

.course-row--list {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.course-item {
	background-color: #fff;
	margin: 8px;
	height: 290px;
	width: 216px;
	box-shadow: 5px 5px 8px #ccc;
}

.course-item--image > img {
	height: 122px;
	width: 216px;
}

.course-item--text {
	text-align: left;
	margin-left: 12px;
}

h3.course-item--text__title {
	/* height: 42px;  */
	/* width: 191px; */
	margin-top: 2px;	
	margin-bottom: 5px;	
}

h5.course-item--text__author {
	color: #7F858D;
	margin-top: 2px;
}



p.course-item--rating__total {
	color: #A1A7B3;
	font-size: 12px;
	margin: 1em;
}

.course-item--price {
	/* position: relative; */
	text-align: right;
	margin-right: 12px;
	margin-bottom: 6px;


}

.course-item--price__old {
	color: #686F79;
	font-size: 13px;
}

.course-item--price__new {
	font-weight: 600;
	font-size: 20px;
	color: #000;
}

.marketlinks-box {
	height: 80px; 
	width: 300px;
	border-radius: 6px;
	box-shadow: 5px 5px 8px #ccc;
}

.marketlinks-box--title {
	color: #fff;
	margin-top: 24px;
	font-size: 18px;
}

.marketlinks-box__blue {
	background-image: url('./marketFolder/blue.jpg')
}
.marketlinks-box__purp {
	background-image: url('./marketFolder/purp.jpg')
}
.marketlinks-box__teal {
	background-image: url('./marketFolder/teal.jpg')
}

.bottom-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	
}

.bottom-footer--left {
	display: flex;
	flex-direction: row;
}

.bottom-footer--right {
	margin: 20px;
}

.bottom-footer--right > a {
	margin: 5px;
}